// Bootstrap customization
$icon-font-path: "../fonts/vendor/bootstrap/";

// Navbar customization
$navbar-height: 45px;
//$navbar-inverse-color: #FFF;
//$navbar-inverse-link-color: #FFF;
//$navbar-inverse-brand-color: #FFF;



// $grid-float-breakpoint: 100px;
// $modal-md: 768px;
// $modal-lg: 1024px;

// Font-awesome customization
$fa-font-path: "../fonts/vendor/fontawesome";


/**
 * Base for everything
 */
@import "bootstrap-compass";
// So far the compass asset helper does not helping us so much (relative asset = true in config.rb make sass compilation failing),
// so we disable it and set $icon-font-path directly
$bootstrap-sass-asset-helper:false;

@import 'bootstrap';
@import 'font-awesome';

/* Space out content a bit */
body {
    background: url(../images/teso-barbarian-breton.jpg) top center no-repeat;
    background-color: #b9b190;
}

header {
    text-align: center;
}

//.small-panel {
//    @include panel(
//    $padding: 5px
//    );
//}
